video {
    background: black;
    border: 1px solid gray;
    border-radius: 5px;
}

#localVideo {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 15px;
	left: 15px;
	// filter: grayscale(80%);
	// filter: blur(2px);
	// filter: contrast(200%);
	// filter: hue-rotate(90deg);
	// filter: drop-shadow(16px 16px 20px red) invert(75%);
}

#remoteVideo {
    width: 500px;
	height: 500px;
	// filter: drop-shadow(16px 16px 20px red) invert(75%);
}

.call-page{
    text-align: center;
}

.callTargetInput{
    width: 40%;
    margin: auto;

}

.chatInputBox{
    width: 100%;
}

.flexContainer{
    display: flex; /* or inline-flex */
    flex-direction: row;

    .flexbox1, .flexbox2{
        // border: 1px solid red;
        margin: 10px;

    }

    .flexbox1{
        flex: 3;
    }

    .flexbox2{
        flex: 1;
    }
}

.flexContanierChat{
    display: flex; /* or inline-flex */
    flex-direction: column ;
    height: 100%;

    .flexboxText, .flexboxSend{
        // border: 1px solid red;
        margin: 5px;
    }

    .flexboxText{
        flex: 4;
    }

    .flexboxSend{
        flex-basis: auto; /* default auto */
    }
}



